html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    background-color: rgb(240, 240, 240);
}

.full-height {
    height: 100%
}

md-toolbar {
    transition: none !important;
}

md-datepicker {
    margin-right: 0;
}

.validation-message {
    color: rgb(221,44,0);
}