Db/
LibraryManager.ActionHandlers/obj/
LibraryManager.Data.EF/bin/
LibraryManager.Data.EF/obj/
LibraryManager.Data.Model/obj/
LibraryManager.Shared/obj/
LibraryManager/bin/
LibraryManager/obj/
packages/
LibraryManager.ActionHandlers/bin/Debug/AutoMapper.xml
LibraryManager.ActionHandlers/bin/
LibraryManager.Shared/bin/
LibraryManager/Content/js/app.js
